<div class="status-bar">
	<div class="status-cell">
		<div class="reset-fire"></div>
	</div>
	<div class="status-cell">
		<div class="flag-trigger"></div>
	</div>
	<div class="status-cell">
		<div class="mine-count">15 REMAIN</div>
	</div>
</div>

<div class="mine-field">
  <div class="mine-field-inner">
  	<% for i in 1..100 %>
	  	<div class="mine"></div>
  	<% end %>
  </div>
</div>

<div class="status-bar">
	<div class="status-cell">
		<div class="reset-fire"></div>
	</div>
	<div class="status-cell">
		<div class="flag-trigger"></div>
	</div>
	<div class="status-cell">
		<div class="mine-count">15 REMAIN</div>
	</div>
</div>