// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: initial;
    padding: initial;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: inherit;
    color: #555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: initial;
}

.custom-field-form {
	position: absolute;
	top: 0;
	right: 150px;
	width: 135px;
	z-index: 99;
	.input-row{
		display: block;
		margin: 0 0 10px;
		position: relative;
		label {
			display: inline-block;
			margin: 4px 0 0;
		}
		input[type="number"] {
			display: inline-block;
			width: 35px;
			margin: 0;
			float: right;
		}
		.error {
			position: absolute;
	    top: 4px;
	    left: -60px;
	    color: red;
		}
	}
}

.status-bar {
	width: 960px;
	height: 100px;
	.status-cell {
		width: 33.3333333%;
		float: left;
		text-align: center;

		.reset-fire {
			display: inline-block;
			width: 20px;
			height: 20px;
		  background: #ccc;
		  border: 5px solid #ddd;
		  border-right-color: #bbb;
		  border-bottom-color: #bbb;
		  &:hover {
			  border: 5px solid #ddd;
			  border-left-color: #bbb;
			  border-top-color: #bbb;
		  }
		}
		.flag-trigger {
			display: inline-block;
			width: 50px;
			height: 50px;
		  background: image-url('minesweeper-flag.png');
		  background-size: 130%;
      background-position: center 9px;
		  border: 5px solid #ddd;
		  border-right-color: #bbb;
		  border-bottom-color: #bbb;
		  &.pushed {
		    border: 5px solid #ddd;
			  border-left-color: #bbb;
			  border-top-color: #bbb;
			  background-position: center -4px;
		  }
		}
		.mine-count {
			display: inline-block;
			font-size: 20px;
			color: #0000FF;
		}
	}
}

.mine-field {
	width: 960px;
  height: 960px;
  background: #ccc;
  border: 5px solid #ddd;
  border-right-color: #bbb;
  border-bottom-color: #bbb;
  box-sizing: border-box;
  margin-bottom: 50px;

  .mine-field-inner {
  	width: 98%;
  	height: 98%;
  	margin: 1%;
  	box-sizing: border-box;
		border: 5px solid #ddd;
		border-left-color: #bbb;
		border-top-color: #bbb;
		background: #ddd;

		.mine {
	  	padding: 5%;
	  	position: relative;
	  	background: #ccc;
	  	box-sizing: border-box;

			float: left;
			font-weight: bold;
	    font-size: 50px;
	    text-align: center;
			&.one {color: #0000ff;}
			&.two {color: #008800;}
			&.three {color: #ff0000;}
			&.four {color: #030C7E;}
			&.five {color: #7F040A;}
			&.six {color: #118080;}
			&.seven {color: #000000;}
			&.eight {color: #808080;}
			.inner {
				width: 100%;
				height: 100%;
				padding-top: 10px;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				border: 5px solid #ddd;
				border-right-color: #bbb;
				border-bottom-color: #bbb;
				&:hover {
					border: 5px solid #ddd;
					border-left-color: #bbb;
					border-top-color: #bbb;
				}
				//top: 50%;
				//left: 50%;
				//-ms-transform: translate(-50%,-50%); /* IE 9 */
		   	//-webkit-transform: translate(-50%,-50%); /* Safari */
		    //transform: translate(-50%,-50%);
			}

			&.set-off .inner {border: 1px solid #bbb;}
			&.boom .inner {
				background: image-url("cartoonexplosion.png");
		    background-size: 112%;
		    background-position: center center;
			}
			&.flag .inner {
				background: image-url("minesweeper-flag.png");
		    background-size: 100%;
		    background-position: center center;

			}
		}
  }
}